.mp{
    background-image: url(classroombackground.png);
    position:absolute;
    justify-content: space-evenly;
    width:84.85%;
    height:68%;
    margin:-7px;
    padding:150px;
}
button{
    border-radius: 500px;
    margin:160px;
}
img{
    border-radius: 103px;
}