*{
    color:white;
}
.main{
    background-image: url(vitmebackgroung.jpg);
    height:99.9%;
    padding:10px;
    width:99.8%;
    margin:-8px;
}
.tab-titles{
    background-color: lightblue;
    display:flex;
    width:970px;
    margin:22px 200 22px;
    margin-left:14%;
    margin-top:30px;
    border:none;
    border-top:5px solid blue ;
    border-bottom:5px solid blue;
}
.tab-links{
    margin-right:50px;
    font-size:18px;
    font-weight: 500;
    cursor:pointer;
    position:relative;
}
.tab-links::after{
    content:'';
    width:0;
    height:3px;
    background:black;
    position:absolute;
    left:0;
    bottom:-8px;
    transition:0.5s;
}
.tab-links.active-link::after{
    width: 80%;
}
.tab-contents ul li{
    margin:10px;
}
.tab-contents ul li spam{
    color:deeppink;
    font-size:14px;
}
.tab-contents{
    display:none;
    margin-left:14%;
}
.tab-contents.active-tab{
    display:block;
}
tr,th,td
{       margin:10px;
        padding:0px;
        border:1px solid black;
        max-width:50px;
}
.e{
    height: 600px;
    width: 963px;
    margin-block-start: 48px;
    padding: 1px;
}
td{
    text-align: center;
}
td button{
    margin:2px;
    padding:2px;
    cursor:pointer;
    transition:transform 0.5s;
}
td button:hover{
    box-shadow:0px 0px 1px 1px rgb(175, 169, 169);
    background-color:rgb(244, 238, 238);
    transform:translateY(-5px);
} 
.m{
    width:30%;
}
.s{
    width:70%;
}

#lightbox{
    height:0;
    width:0;
    position:fixed;
    top:0;
    left:0;
    overflow:hidden;
    transition:all 1s ease-in-out;
}

#lightbox:target
{
height: 16%;
    width: 19%;
    top: 42%;
    left: 40%;
    background-color: aquamarine;
}

button {
  margin: 6px;
    margin-left: 38px;
    padding: 12px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
}

button:hover {
  background-color: #45a049;
}

.message {
  text-align: center;
}

.message a {
  color: #4CAF50;
  text-decoration: none;
}
