body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
}

.container {
    width: 300px;
    margin: 0 auto;
    padding-top: 39px;
    border: 2px solid black;
}

.form {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.message {
  text-align: center;
}

.message a {
  color: #4CAF50;
  text-decoration: none;
}
